
		body{
			padding: 0;
			margin: 0;
			font-family: sans-serif;
			background-color: black;
			color: white;
			transition: all 1s;

		}
		
		header{
			height: 100vh;
			position: relative;
			/*background-image: url("https://cdn.pixabay.com/photo/2016/10/29/10/12/abstract-1780370_960_720.png");
			background-image: linear-gradient(-90deg, (0 , 0, 0, 5), yellow);
			background-size: cover;
			background-repeat: no-repeat;*/
		}
		
         .nav{
         	width: 100%;
         	height: 60px;
         	position: fixed; 
         	margin-bottom: 20px;
         	transition: all 1s;
         	line-height: 60px;
         	font-family: 'Kanit', sans-serif;
         }

         .border-black{
         	transition: 1s;
         	box-shadow: 0px 0px 1px 0px snow;
         	height: 50px;
         	line-height: 50px;
         	background-color: black;

         }

         .nav ul{
         	margin: 0;
         	padding: 0;
         	text-align: center;
         	cursor: pointer;

         }

         .nav ul li{
         	text-transform: uppercase;
         	list-style: none;
         	display: inline-block;
         	margin: 0 10px 0 10px;
         }
         .nav ul li a{
         	text-decoration: none;
         	color: white;
         }
         .nav ul li a:hover{
         	color: yellow;
         	border-bottom: 1px yellow;
         }
         .profile{
		   width: 150px;
		   border-radius:  50%;
		}
		
		.box{

				
				text-align: center;	
				margin: 20vh auto;						
		}
		.box h1{
			font-size: 40px;
			font-family: 'Major Mono Display', monospace;

		}
		.sec{
			padding: 30px 25% 20px 25%;
			background-color: #3d3939d4;
			font-family: 'Thasadith', sans-serif;
		}
		.heading{
			font-size: 30px;
			text-transform: uppercase;
		}
		.content{
		     font-family: 'Thasadith', sans-serif;
		     font-size: 20px;
		}
		.logo{
			width: 40px;
			margin: 0 20px 20px 0;
			transition: .1s;
		}
		.logo:hover{
			transform: scale(2 , 2);
			transform: 1s;
		}

		.bottom-img{
			
			width: 100px;
		    margin: auto;
		    margin-top: 10vh;
		    display: block;
		}
		
		.project-bar{
			background-color: black;
		}
		
.tab-panels{
	width: 100%;
	background-image: linear-gradient(to right, white, yellow);
	
}
.tab-panels ul {
    margin: 0;
    padding: 0 100px 0 100px;
}
.tab-panels ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    line-height: 40px;
    padding: 3px 10px;
    color: black;
    font-weight: bold;
    cursor: pointer;

}
.tab-panels ul li:hover {
    color: #fff;
    background: #666;
}

.tab-panels ul li.active {
    color: white;
    background: black;
}

.tab-panels .panel {
    display:none;
    background: black;
    color: white;
}

.tab-panels .panel.active {
    display:block;

}
.container{
	padding: 10px 30px 20px 30px; 
}
.date{
	font-size: 15px;
	margin: 5px;
	float: right;
	text-align: center;
	display: inline-block;
}
.black {
	color: black;
}
.gradient{
	background-image: linear-gradient(to right, white, yellow);
}
.p-5{
padding: 5px;
}
.imgt{
	width: 100%;
}

.bg-video{
	min-width: 100%;
	min-height: 100vh;
	position: fixed;

	z-index: -5;
	opacity: .3;
}


/*for laptop or mobile*/
@media(max-width: 900px){
	.tab-panels ul {
		margin: 0;
		padding: 0 30px 0 30px;
	}
	.sec{
		padding: 10px 20% 20px 20%;
	}
}

/*For mobile*/
@media(max-width: 768px){
	.sec{
		padding: 20px 10% 20px 10%;
	}
	}

/*for laptop or tablet*/
@media(min-width: 600px){
	.tab-panels ul {
    margin: 0;
    padding: 0 50px 0 50px;
}
}
/*for mobile*/
@media(max-width: 600px){
	.sec{
		padding: 15px 5% 20px 5%;
	}
	.tab-panels ul {
    margin: 0;
    padding: 0 30px 0 30px;
}
}
@media(max-width: 550px){
	.sec{
		padding : 10px 5% 10px 5%;
	}
	.tab-panels ul{
		margin: 0;
		padding: 0 10px 0 10px;
	}
	.nav ul li{
		margin: 0 5px 0 5px;
		font-size: 12px;
	}
	.tab-panels ul li{
		padding: 3px 5px;
	}
	.box{
		margin: 10vh auto;
	}
}		